{% extends 'speed/root.html' %}
{% block content %}

    {% include 'bar/bar4.html' %}
    <br>
    <br>

    <div class="container">

        <div class="row">
            <div class="card col-12 text-center" style="padding: 0">
                <div class="card-head  shadow">
                    <br>
                    <h4>省内单程车票</h4>
                    <br>
                </div>

                <div class="card-body" style="padding: 0">
                    {% include 'speed/tables/table1.html' %}
                </div>
            </div>

        </div>

        <br>
        <br>

        <div class="row">
            <div class="card col-12 text-center " style="padding: 0">
                <div class="card-head shadow">
                    <br>
                    <h4>跨省车票</h4>
                    <br>
                </div>

                <div class="card-body" style="padding: 0">
                    {% include 'speed/tables/table2.html' %}
                </div>
            </div>

        </div>

    </div>

    <br>
    <br>
    {% include 'speed/tail.html' %}
    {% include 'speed/copyright.html' %}
{% endblock %}
