<nav class="navbar navbar-expand-lg  navbar-dark bg-primary ">
    <a class="navbar-brand" href="#"><img src="https://typoraup.oss-cn-beijing.aliyuncs.com/img/12306.png " alt="icon"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url "index" %}">首页 <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="https://forecast.lytq.com/pc.html" target="_blank">天气查询</a>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    用户中心
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url "space" %}">我的中心</a>
                    <a class=" dropdown-item" href="{% url 'privage' %} " target="_blank">专享服务</a>
                </div>
            </li>
        </ul>

        <a class="login" style="color: white" href="{% url "login" %}">欢迎您</a>
        <p></p>

    </div>
</nav>
