{% block table1 %}
    <table class="table ">
        <thead class="table-primary">
        <tr>
            <th scope="col">车次</th>
            <th scope="col">出发站</th>
            <th scope="col">到达站</th>
            <th scope="col">出发时间</th>
            <th scope="col">达到时间</th>
            <th scope="col">历时</th>
            <th scope="col">剩余票数</th>
            <th scope="col">单/双程</th>
            <th scope="col">备注</th>

        </tr>
        </thead>
        <tbody class="text-center">
        {% for i in inticket %}
            <tr>
            <td>{{ i.name }}</td>
            <td>{{ i.startStation }}</td>
            <td>{{ i.endStation }}</td>
            <td>{{ i.startTime }}</td>
            <td>{{ i.endTime }}</td>
            <td>{{ i.totalTime }}</td>
            <td>{{ i.leftTicket }}</td>
            <td>单程</td>
            <td ><a  href="{% url 'buy' i.id %}">购买</a></td>
        {% endfor %}
        </tr>
        </tbody>
    </table>


{% endblock %}